<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="">
<head>

<br><h3>files that are currently in database</h3>
    <link href="../static/css/pdf.css" th:href="@{/css/pdf.css}" rel="stylesheet"/>

</head>

<body>
<table>
    <tr>
        <td>id</td>
        <td>nazwa</td>
        <td> opis</td>
        <td> data załowania</td>
        <td>rozmiar</td>
        <td>usun</td>
        <td>zdjecie</td>
    </tr>


<tr th:each="pdf : ${pdfs}">

    <td th:text="${pdf.pdfId}">opis</td>
<td th:text="${pdf.fileName}"></td>
    <td th:text="${pdf.description}"></td>
    <td th:text="${pdf.loadDate}"></td>
    <td th:text="${pdf.fileSize}"></td>
    <td><a th:href="@{'remove/'+${pdf.pdfId}}">X</a></td>
    <td><img th:src="@{'/pdfs/image/'+${pdf.pdfId}}" width="149px" height="210px"/></td>

</tr>

</table>


<br><br><br><br><br><br>


<h3>upload new file</h3>

<div th:if="${message}" th:text="${message}" class="fail">
    </div>

<form method="post" action="#" th:action="@{savepdf}" th:object="${pdf}" enctype="multipart/form-data">

    <table>
        <tr>
            <td><label>filename</label></td>
            <td><input type="text" th:field="*{fileName}" th:onerror=""></td>

        </tr>
        <tr>
            <td><label >description</label></td>
            <td><input type="text" id="desc" size="100" th:field="*{description}"></td>
        </tr>
        <tr>
            <td><label>PDF</label></td>
            <td><input type="file" id="file" name="file"></td>

        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>



</body>

</html>
